- name: install dotfiles via git (requires private key first)
  git: repo=git@ardberg.nyc.ipstuff.ca:cmurray/dotfiles.git
    dest={{ home }}/src/dotfiles

- name: enable promptline
  file: path={{ home }}/.promptline-yes state=touch mode=u+rw

- name: creating symlinks in {{ home }} to for tmux
  file: >
    dest={{ home }}/.tmux.conf
    src={{ home }}/src/dotfiles/.tmux.conf
    state=link

- name: creating symlinks in {{ home }} to for vimrc
  file: >
    dest={{ home }}/.vimrc
    src={{ home }}/src/dotfiles/.vimrc
    state=link

- name: creating symlinks in {{ home }} to for tmux
  file: >
    dest={{ home }}/.tmux.conf
    src={{ home }}/src/dotfiles/.tmux.conf
    state=link

- name: link .bash_profile from ~/src/dotfiles to ~/.bash_profile
  file: >
    dest={{ home }}/.bash_profile
    src={{ home }}/src/dotfiles/.osx.bash_profile
    state=link

- name: set mtr to suid root so we don't have to use sudo
  file: path=/usr/local/sbin/mtr state=touch owner=root group=wheel mode="u+s"
